<html>
  <head>
    <title>Data Mail</title>
  </head>

  <body>
    Thank you for testing

    <table>
      <tr>
        <th>ID</th>
        <th>User Name</th>
        <th>Email</th>
        <th>Phone</th>
      </tr>
      <% @subs.each do |u| %>
        <tr>
          <td><%= u.id%></td>
          <td><%= u.name%></td>
          <td><%= u.email %></td>
          <td ><%= u.phone %></td>
        </tr>
      <% end %>
    </table>
  </body>

</html>
