<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      table,tr,th,td {
        border-collapse: collapse;
        border: 1px solid black;
        vertical-align: top;
        text-align: left;
        padding: 3px;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
